<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MySwiftProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>923AED7A1DBA718E006B9F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>923AED8E1DBA718E006B9F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>923AED991DBA718F006B9F6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
